* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.Vazio {
    flex: 5;
    background-color: #fff0;
}

body {
    background-color: #fff;
}

header {
    position: fixed;
    z-index: 10;
    width: 100vw;
    background-color: #61B8FA;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 20px;
    box-shadow: 0px 10px 15px 0px #bbb;
}
header div {
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
header canvas {
    background-color: #436291;
}

#Main {
    padding-left: 17vw;
    padding-right: 17vw;
}
#Main .Vazio {
    height: 50px;
}
#Main .Bloco {
    margin-bottom: 10vh;
    padding: 10px;
    border-radius:  10px;
    box-shadow: 5px 5px 15px 10px #bbb;
}
#Main .Bloco p {
    margin: 10px;
}
#Main .Bloco div {
    clear: both;
}
#Main .Bloco canvas {
    border-radius: 5px;
}
#Main .Bloco button {
    border: none;
    background-color: #bbb;
    color: white;
    border-radius: 3px;
    padding: 5px;
    box-shadow: 0px 3px 0px 0px #999;
}
#Main .Bloco button:hover {
    cursor: pointer;
    background-color: #aaa;
}
#Main .Bloco button:active {
    cursor: pointer;
    background-color: #555;
    box-shadow: none;
    margin-top: 3px;
}

footer {
    display: flex;
    flex-direction: row;
    background-color: #1D2A33;
    color: #fff;
    padding: 40px;
    box-shadow: 0px -10px 15px 0px #bbb;
}
footer div {
    flex: 1;
    background-color: #3B4750;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
footer h1 {
    margin-bottom: 10px;
}
footer a {
    margin: 2px;
}